
.contain-block {
	border: 8px solid #333333;
	background-color: #444444;
	overflow: hidden;
}

.inline-block {
	display: inline-block;
}

.site_wrap > .slides-block {
	margin-bottom: 1em;
	margin-left: -8px;
	margin-right: -8px;
}

.slides-block {
	white-space: nowrap;
}

.slide-block {
	padding: 0;
}

.js .slide-block {
	/* Overide template's height transitions. */
	width: 100%;
	height: auto;
}

.slide_buttons_index {
	text-align: center;
}

@media screen and (max-width: 640px) {
	.slides-block {
		width: 100%;

		-webkit-box-sizing: content-box;
		   -moz-box-sizing: content-box;
		    -ms-box-sizing: content-box;
		        box-sizing: content-box;
	}
}

.swipe-block {
	white-space: nowrap;
}

.js .swipe-block {
	z-index: 1;

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;

	/* A nice bit of hardware acceleration should help the transitions run
	   smoothly. */
	-webkit-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);

	-webkit-transition-property: -webkit-transform;
	        transition-property: transform;
	-webkit-transition-duration: 333ms;
	        transition-duration: 333ms;
	-webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 0.7, 1);
	        transition-timing-function: cubic-bezier(0.1, 0.7, 0.7, 1);
}