
:root {
    background-color: #f1f0ef;
    --name-color: #223d56;
}

html,
body {
    background-color: #f1f0ef;
}

body {
    color: #004e58;
	color: #005d5a;
	color: #223d56;
}

code,
code > .params {
    color: #e2006f;
}

.js.block,
code.block {
    background-color: #383244;
    background-color: #303740;
    background-color: #fdfcff;
    background-color: #312b3e;
}

ol {
    padding-left: 0;
}
